.resizable {
  height: 40px;
  width: 170px;
  min-width: 150px;
  min-height: 20px;
  position: absolute;
  background-color: transparent;
}

.removeIcon {
  position: absolute;
  right: -20px;
  top: -2px;
  width: 15px;
  height: 15px;
  background-color: #ff0000;
  color: white;
  border-radius: 50%;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeIcon:hover {
  cursor: pointer;
}

.resizable .label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  min-width: 150px;
  min-height: 20px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.resizers {
  width: 100%;
  height: 100%;
  border: 2px solid #00aae5;
}

.resizers .resizer {
  position: absolute;
  width: 8px;
  height: 8px;
  background: white;
  border: 2px solid #00aae5;
}

.resizer.top {
  left: 50%;
  top: -3px;
  cursor: ns-resize;
  transform: translate(-5px, 0px);
}

.resizer.topRight {
  right: -3px;
  top: -3px;
  cursor: sw-resize;
}

.resizer.right {
  right: -3px;
  bottom: 50%;
  cursor: ew-resize;
  transform: translate(0px, 4px);
}

.resizer.bottomRight {
  right: -3px;
  bottom: -3px;
  cursor: nw-resize;
}

.resizer.bottom {
  left: 50%;
  bottom: -3px;
  cursor: ns-resize;
  transform: translate(-5px, 0px);
}

.resizer.bottomLeft {
  left: -3px;
  bottom: -3px;
  cursor: sw-resize;
}

.resizer.left {
  left: -3px;
  bottom: 50%;
  cursor: ew-resize;
  transform: translate(0px, 4px);
}

.resizer.topLeft {
  left: -3px;
  top: -3px;
  cursor: nw-resize;
}
